[Unit]
Description=Jf Pushover Webhook Quadlet

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/sudo-kraken/jf-pushover-webhook:latest@sha256:c149d037a44a3692a85009f81326b69a273445a707f80114079e8a1f292d7913
Pull=newer
ContainerName=jf-pushover-webhook
HostName=jf-pushover-webhook

PublishPort=127.0.0.1:8484:8484

HealthCmd=curl -fsS http://127.0.0.1:8484/health || exit 1
HealthInterval=30s
HealthTimeout=10s
HealthStartPeriod=10s
HealthRetries=3

EnvironmentFile=pushover-webhook.env
ReadOnly=true
NoNewPrivileges=true
DropCapability=all
